<h1>Listado de Géneros</h1>
<%= link_to 'Agregar género', new_genre_path %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Género</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.title %></td>
        <td>
          <button type="button" class="btn btn-primary">
            <%= link_to 'Ver', genre_path(genre), {:style=>'color: inherit;'}%>
          </button>
          <button type="button" class="btn btn-success">
            <%= link_to 'Editar', edit_genre_path(genre), {:style=>'color: inherit;'} %>
          </button>
          <button type="button" class="btn btn-danger">
            <%= link_to 'Borrar', genre_path(genre), method: :delete, data: {confirm: 'Seguro que quieres eliminarlo?'},:style=>'color: inherit;'%>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
