<%=form_for @part do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %></h2>
      No se pudo guardar la parte por:
      <ul>
        <% @part.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label(:book_id,"Libro") %><br />
    <%= f.select(:book_id, options_for_select(@books.map{ |book| [book.title,book.id] }), {:class => 'custom-select'}) %>
  </p>
  <p>
    <%= f.label(:pdf,"Url del documento") %><br />
    <%= f.text_field(:url_document, {:class => 'form-control'})%>
  </p>
  <p>
    <%= f.label(:position,"Posición") %><br />
    <%= f.number_field(:position, {:class => 'form-control'})%>
  </p>
  <p>
    <%= f.label(:normal_release_date,"Fecha de lanzamiento suscriptor normal") %><br />
    <%= f.date_field(:normal_release_date, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label(:premium_release_date,"Fecha de lanzamiento suscriptor premium") %><br />
    <%= f.date_field(:premium_release_date, {:class => 'form-control'}) %>
  </p>
  <%= f.submit({:class => 'btn btn-primary'}) %>
</p>
<% end %>
