<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <h1 class="my-2 text-center">Registrarse</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :Nombre %><br />
            <%= f.text_field(:name, {:class => 'form-control', :placeholder => "Nombre", required: true}) %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :Apellido %><br />
            <%= f.text_field(:last_name, {:class => 'form-control', :placeholder => "Apellido", required: true}) %>
          </div>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field(:email, {:class => 'form-control', :placeholder => "email@bookflix.com", required: true}) %>
        </div>
        <div class="field">
          <%= f.label :Numero_de_tarjeta %><br />
          <%= f.number_field(:card_number, {:class => 'form-control', required: true,:placeholder => "XXXX-XXXX-XXXX-XXXX"}) %>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
          Ingrese el numero de la tarjeta sin guiones.
        </small>
        <div class="field">
          <%= f.label :fecha_de_vencimiento %><br />
          <%= f.number_field(:expiration_month_date, {:class => 'form-control',required: true,:placeholder => "Mes"}) %>
          <%= f.number_field(:expiration_year_date, {:class => 'form-control', required: true,:placeholder => "A単o", :style=> "margin:10px 0px 0px 0px"}) %>
        </div>
        <div class="field">
          <%= f.label :Codigo_de_verificacion %><br />
          <%= f.number_field(:card_key, {:class => 'form-control', :placeholder => "CVC", required: true}) %>
        </div>
        <div class="form-group my-2">
          <div class="field">
            <%= f.label :Contrase単a %>
            <%= f.password_field(:password, {:class => 'form-control', :autocomplete=> "new-password", required: true})  %>
          </div>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
          Su contrase単a debe tener entre 6 y 12 caracteres.
        </small>
        <div class="field">
          <%= f.label :Confirmar_contrase単a %><br />
          <%= f.password_field(:password_confirmation, {:class => 'form-control', autocomplete: "new-password", required: true}) %>
        </div>
        <div class="field">
          <%= f.label :Cuenta_Premium %><br />
          <%= f.check_box(:membership_premium, {:class => 'form-control'}, true, false)  %>
        </div>
        <%= f.hidden_field(:current_profiles, :value => 0) %>
        <div class="actions my-3">
          <%= f.submit('Registrate',{:class => 'btn btn-primary btn-block' }) %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
