<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <h1 class="my-2 text-center">Registrarse</h1>
      <%= form_for Administrator.new, url: '/admin_panel/create_admin' do |f|%>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field(:email, {:class => 'form-control', :placeholder => "email@bookflix.com"}) %>
        </div>
        <div class="field">
          <%= f.label :Contraseña %>
          <%= f.password_field(:password, {:class => 'form-control', :autocomplete=> "new-password"})  %>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
          Su contraseña debe tener entre 6 y 12 caracteres.
        </small>
        <div class="field">
          <%= f.label :Confirmar_contraseña %><br />
          <%= f.password_field(:password_confirmation, {:class => 'form-control', autocomplete: "new-password"}) %>
        </div>
        <div class="actions my-3">
          <%= f.submit('Registrate',{:class => 'btn btn-primary btn-block' }) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
