<div class="container">
  <div class="row my-5">
    <div class="offset-md-3 col-md-8">
      <h2>¿Olvidaste tu Contraseña?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-8">
            <div class="field">
              <%= f.label :email %><br>
              <%= f.email_field(:email, {:class => 'form-control', :placeholder => "Ingresar Email", :autofocus => true}) %>
            </div>
            <div class="actions my-3">
              <%= f.submit('Enviar instrucciones para restablecer la contraseña',{:class => 'btn btn-primary btn-block '}) %>
            </div>
          <% end %>
          <%= render "administrators/shared/links" %>
          <div>
          </div>
        </div>
      </div>
    </div>
