<%=form_for @author do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %></h2>
      No se pudo guardar el autor por:
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field(:name, {:class => 'form-control', :required => true})%>
  </p>
  <%= f.submit('Cargar autor',{:class => 'btn btn-primary'}) %>
</p>
<% end %>
