<%=form_for @news do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %></h2>
      No se pudo guardar la noticia por:
      <ul>
        <% @news.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Título %><br />
    <%= f.text_field(:title, {:class => 'form-control', :required => true}) %>
  </p>

  <p>
    <%= f.label :Contenido %><br />
    <%= f.text_field(:content, {:class => 'form-control', :required => true}) %>
  </p>

  <%= f.submit('Aceptar',{:class => 'btn btn-dark'}) %>
  
</p>
<% end %>
