<% if administrator_signed_in? %>
  <% if params['removed']!=nil%>
    <div class="alert alert-success" role="alert" style="margin-top:20px;">
      Se a borrado exitosamente el libro: <%=params['removed']%>
    </div>
  <%end%>
  <% if params['error_removed']!=nil%>
    <div class="alert alert-danger" role="alert" style="margin-top:20px;">
      No se pudo eliminar el libro: <%=params['error_removed']%>.
    </div>
  <%end%>
  <h1>Listado de Libros</h1>
  <%= link_to 'Agregar libro', new_book_path %>
<% end %>
<div class="card-columns" style="margin-top:10px">
  <% @books.each do |book| %>
    <% if book.visibility %>
      <div class="card align-items-center text-center" style="border: none;" >
        <img src=<%=book.url_cover%> class="card-img-top" alt=<%=book.title%> style="width:200px; height:300;overflow: hidden;">
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to book.title, book_path(book), {:style=>'color: inherit;'}%>
          </h5>
          <p class="card-text"><%= book.autor %></p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <% if administrator_signed_in? %>
              <button type="button" class="btn btn-dark">
                <%= link_to 'Ver', book_path(book), {:style=>'color: inherit;'}%>
              </button>
              <button type="button" class="btn btn-dark">
                <%= link_to 'Editar', edit_book_path(book), {:style=>'color: inherit;'} %>
              </button>
              <button type="button" class="btn btn-dark">
                 <%= link_to 'Borrar', book_path(book), method: :delete, data: {confirm: 'Seguro que quieres eliminarlo?'},:style=>'color: inherit;'%>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
