<h1>Detalle del libro</h1>
<div class="card mb-3" style="margin: 10px;" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src=<%= @book.url_cover %> class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @book.title %></h5>
        <p class="card-text">Descripción: <br>
          <%= @book.description %></p>
        <p class="card-text">Autor: <%= @book.autor %></p>
        <p class="card-text">Editorial: <%= @book.editorial %></p>
        <p class="card-text">Género: <%= @book.genre.title %></p>
        <ul class="list-group">
          <% @book.parts.each do |part| %>
            <li class="list-group-item">
              <a href=<%= part.url_document%>>Parte: <%= part.position%></a>
            </li>
          <% end %>
        </ul>
        <p class="card-text"><a href=<%= (@book.trailer==nil)? "" : @book.trailer.url_document%>>Trailer</a></p>
        <ul class="list-group">
          <% @book.tags.each do |tag| %>
            <li class="list-group-item">
              <a href=''><%= tag.title%></a>
            </li>
          <% end %>
        </ul>
        <p class="card-text"><small class="text-muted">Fecha vencimiento <%= @book.expiration_date %></small></p>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Regresar', url_for(:back) %>
