<h1>Listado de Trailers</h1>
<%= link_to 'Agregar trailer', new_trailer_path %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @trailers.each do |trailer| %>
      <tr>
        <td><%= trailer.id %></td>
        <td>
          <button type="button" class="btn btn-primary">
            <%= link_to 'Ver', trailer_path(trailer), {:style=>'color: inherit;'}%>
          </button>
          <button type="button" class="btn btn-success">
            <%= link_to 'Editar', edit_trailer_path(trailer), {:style=>'color: inherit;'} %>
          </button>
          <button type="button" class="btn btn-danger">
            <%= link_to 'Borrar', trailer_path(trailer), method: :delete, data: {confirm: 'Seguro que quieres eliminarlo?'},:style=>'color: inherit;'%>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
