<%=form_for @trailer do |f| %>
  <fieldset disabled>
    <p>
      <%= f.label(:normal_release_date,"Fecha de lanzamiento suscriptor normal") %><br />
      <%= f.date_field(:normal_release_date, {:class => 'form-control'}) %>
    </p>
    <p>
      <%= f.label(:premium_release_date,"Fecha de lanzamiento suscriptor premium") %><br />
      <%= f.date_field(:premium_release_date, {:class => 'form-control'}) %>
    </p>
  </p>
</fieldset>
<% end %>
<%= link_to 'Regresar', trailers_path %>
