<h1>Detalle del Trailer</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Libro: </th>
      <td><%= @trailer.book.title %></td>
    </tr>
    <tr>
      <th scope="row">Url Documento: </th>
      <td><%= @trailer.url_document %></td>
    </tr>
    <tr>
      <th scope="row">Fecha de lanzamiento suscriptor normal: </th>
      <td><%= @trailer.normal_release_date %></td>
    </tr>
    <tr>
      <th scope="row">Fecha de lanzamiento suscriptor premium: </th>
      <td><%= @trailer.premium_release_date %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Regresar', trailers_path %>
