<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <h1 class="my-2 text-center">Registrar administrador</h1>
      <%= form_for @administrator, url: '/admin_panel/create_admin' do |f|%>
        <% if @administrator.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@administrator.errors.count, "error") %></h2>
            No se pudo guardar el nuevo administrador por:
            <ul>
              <% @administrator.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field(:email, {:class => 'form-control', :placeholder => "admin@admin.com", :required => true}) %>
        </div>
        <div class="field">
          <%= f.label :Contraseña %>
          <%= f.password_field(:password, {:class => 'form-control', :autocomplete=> "new-password", :required => true})  %>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
          Su contraseña debe tener entre 6 y 12 caracteres.
        </small>
        <div class="field">
          <%= f.label :Confirmar_contraseña %><br />
          <%= f.password_field(:password_confirmation, {:class => 'form-control', autocomplete: "new-password", :required => true}) %>
        </div>
        <%= f.hidden_field(:privileges, :value => 1 ) %>
        <div class="actions my-3">
          <%= f.submit('Registrate',{:class => 'btn btn-primary btn-block' }) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
