<%=form_for @review do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %></h2>
      No se pudo guardar la reseña por:
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field(:profile_id, :value => cookies[:current_profile_id] ) %>
  <%= f.hidden_field(:book_id, :value => params['id'] ) %>
  <p>
    <%= f.label(:text,"Texto") %><br />
    <%= f.text_field(:text, {:class => 'form-control', :required => true})%>
  </p>
  <p>
    <%= f.label(:spoiler,"¿Posee spoiler?") %><br />
    <%= f.check_box(:spoiler, {:class => 'form-control align-self-start'}) %>
  </p>
  <%= f.submit('Cargar reseña',{:class => 'btn btn-primary'}) %>
</p>
<% end %>
