<% if params['removed']!=nil%>
  <div class="alert alert-success" role="alert" style="margin-top:20px;">
    Se a borrado exitosamente la editorial: <%=params['removed']%>
  </div>
<%end%>
<% if params['error_removed']!=nil%>
  <div class="alert alert-danger" role="alert" style="margin-top:20px;">
    No se pudo eliminar la editorial: <%=params['error_removed']%> ya que se esta utilizando por algun libro.
  </div>
<%end%>
<h1>Listado de Editoriales</h1>
<%= link_to 'Agregar editorial', new_editorial_path %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Editorial</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @editorials.each do |editorial| %>
      <tr>
        <td><%= editorial.name %></td>
        <td>
          <button type="button" class="btn btn-dark">
            <%= link_to 'Ver', editorial_path(editorial), {:style=>'color: inherit;'}%>
          </button>
          <button type="button" class="btn btn-dark">
            <%= link_to 'Editar', edit_editorial_path(editorial), {:style=>'color: inherit;'} %>
          </button>
          <button type="button" class="btn btn-dark">
            <%= link_to 'Borrar', editorial_path(editorial), method: :delete, data: {confirm: 'Seguro que quieres eliminarlo?'},:style=>'color: inherit;'%>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
