<!DOCTYPE html>
<html>
  <head>
    <title>Bookflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Boostrap agregado -->
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.4.1.js" %>
    <!--Fin de Boostrap agregado -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Bookflix</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <% if administrator_signed_in? %>
              <%= link_to "Salir de Admin", destroy_administrator_session_path, method: :delete, class: 'nav-link' %>
            <% else %>
              <%= link_to "Ingresar Admin", new_administrator_session_path, class: 'nav-link' %>
            <% end %>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Listado</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Agregar</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
