<!DOCTYPE html>
<html>
  <head>
    <title>Bookflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Boostrap agregado -->
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.4.1.js" %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Fin de Boostrap agregado -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #282828;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="https://gitlab.com/nehuen94/fuentes/raw/633374e5334706dc1b3dc1aa6f975cd30ec99d47/bookflix.png" style="width:150px;heigth:auto;"></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <% if administrator_signed_in? %>
              <li class="nav-item active">
                <%= link_to 'Panel Admin', '/admin_panel', class: 'nav-link' %>
              </li>
            <% end %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <% if subscriber_signed_in? %>
              <% if current_subscriber.email == "admin@admin.com" && !administrator_signed_in?  %>
                <%= link_to "Ingresar Admin", new_administrator_session_path, class: 'nav-link' %>
              <%end%>
              <li class="nav-item active">
                <%= link_to "Cerrar sesion", destroy_subscriber_session_path, method: :delete, class: 'nav-link' %>
              </li>
              <li class="nav-item active">
                <%= link_to "Configuracion", edit_subscriber_registration_path, class: 'nav-link' %>
              </li>
            <% else %>
              <%= link_to "Iniciar sesion", new_subscriber_session_path, {:class => 'nav-link'}%>
            <% end %>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
    <% unless notice.nil? %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Mensaje</strong>
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Alerta</strong>
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <div class="container" style="min-height: 100vh;">
      <%= yield %>
    </div>
    <footer>
      <nav class="navbar navbar-expand-lg navbar-dark  justify-content-center " style="background-color: #282828;">
        <ul class="navbar-nav ">
          <li class="nav-item active ">
            <li class="nav-item active">
              <%= link_to 'Pregunta frecuentes', '/preguntas_frecuentes', class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Contacto', '/contacto', class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Condiciones de uso', '/condicion', class: 'nav-link' %>
            </li>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
